{{!-- views/newPost.handlebars --}}
<form action="/dashboard/new" method="POST">
    <div class="new-post-container">
        <h2>Create New Post</h2>
        <div class="form-group">
            <label for="post-title">Title</label>
            <input type="text" id="post-title" name="title" required>
        </div>
        <div class="form-group">
            <label for="post-body">Body</label>
            <textarea id="post-body" name="body" rows="10" required></textarea>
        </div>
        <button type="submit" class="btn">Publish</button>
    </div>
</form>